<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="High.Local" enabled="true">
                    <match url="(.*)" />  
					<action type="Rewrite" url="http://www.high.net/{R:1}" />  
					<serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables> 
                </rule>
                <rule name="Leadership" enabled="true" stopProcessing="false"> 
                     <match url="/leadership/$" />
                     <action type="Rewrite" url="http://www.sdhleadershipcenter.com" logRewrittenUrl="false" />
                    <!-- <conditions> -->
                        <!-- <add input="{URL}" pattern="(^((?!css).)*$)" /> -->
                        <!-- <add input="{URL}" pattern="^((?!js).)*$" /> -->
                    <!-- </conditions> -->
					<serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables> 
                </rule>
                <rule name="Leadership resource" enabled="true" stopProcessing="false">
                    <match url="^(\/dist)(\/Leadership\/)(.*)" />
                    <action type="Rewrite" url="http://www.sdhleadershipcenter.com/{R:2}/{R:1}/{R3}" logRewrittenUrl="true" />
					<serverVariables> 
					<set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables> 
                </rule>
                <rule name="LeadershipSegment" enabled="false" stopProcessing="false">
                    <match url="leadership/(.*)" />
                    <action type="Rewrite" url="http://www.sdhleadershipcenter.com/{R1}" />
					<serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables> 
                </rule> 
				<!-- <rule name="Prevent image hotlinking" enabled="false"> -->
					<!-- <match url="[high.net][.*\.(js|css)]" /> -->
						<!-- <conditions> -->
						<!-- </conditions> -->
						<!-- <action type="Rewrite" url="/images/say_no_to_hotlinking.jpg" /> -->
				<!-- </rule> -->

				<!-- <rule name="Leadership Resource"> -->
                    <!-- <match url="^leadership$" /> -->
                    <!-- <action type="Rewrite" url="http://www.sdhleadershipcenter.com/" /> -->
                <!-- </rule> -->
            </rules>
            <outboundRules>
                <rule name="Test" preCondition="IsHTML" enabled="true">
                    <match filterByTags="A" pattern="/(.*)" />
                    <action type="Rewrite" value="http://high.dev/leadership/{R:1}" />
                </rule>
        <preConditions>
            <preCondition name="IsHTML">
                <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
            </preCondition>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
        </preConditions>
    </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
