<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="High.Local" enabled="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://www.high.net/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
                <rule name="Leadership" enabled="true" stopProcessing="false">
                    <match url="/leadership/$" />
                    <action type="Rewrite" url="http://www.sdhleadershipcenter.com" logRewrittenUrl="false" />
					 <conditions> 
                        <add input="{URL}" pattern="(^((?!css).)*$)" /> 
						<add input="{URL}" pattern="^((?!js).)*$" /> 
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
                <rule name="Leadership resource" enabled="true" stopProcessing="false">
                    <match url="^(\/dist)(\/Leadership\/)(.*)" />
                    <action type="Rewrite" url="http://www.sdhleadershipcenter.com/{R:2}/{R:1}/{R3}" logRewrittenUrl="true" />
                    <serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
                <rule name="LeadershipSegment" enabled="true" stopProcessing="true">
                    <match url="leadership/(.*)" />
                    <action type="Rewrite" url="http://www.sdhleadershipcenter.com/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
            </rules>
            <outboundRules>
                <rule name="Test" preCondition="IsHTML" enabled="true">
                    <match filterByTags="A" pattern="/(.*)" />
                    <action type="Rewrite" value="http://high.dev/leadership/{C:0}" />
                    <conditions>
                        <add input="{URL}" pattern="^leadership" />
                    </conditions>
                </rule>
				<preConditions>
					<preCondition name="IsHTML">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
				</preConditions>
    </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
