<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HighNet" enabled="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://www.high.net/{R:1}" />
					<serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
                <rule name="Leadership">
                    <match url="/leadership(.*)" />
                    <action type="Rewrite" url="http://www.sdhleadershipcenter.com/{R:1}" />
					<conditions>
						<add input="{URL}" pattern="(^((?!css).)*$)" /> 
                        <add input="{URL}" pattern="^((?!js).)*$" /> 
                    </conditions>
					<serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
            </rules>
            <outboundRules>
                <rule name="Leadership rewrite output url" preCondition="IsHTML" enabled="true">
                    <match filterByTags="A" pattern="(^(?!http.*$).*)(/(.*))" />
                    <conditions>
                        <add input="{URL}" pattern="/leadership(.*)" />
                    </conditions>
                    <action type="Rewrite" value="http://high.dev/leadership/{R:1}" />
                </rule>
                <preConditions>
                    <preCondition name="IsHTML">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        
    </system.webServer>
</configuration>
